@import '../Layout/styles/conf.scss';

.card {
  @include flex-center;
  flex-direction: column;
  width: 140px;
  height: auto;
  margin: 30px 10px 20px 10px;
  border: 2px solid #acb5b6;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100,100,100, 0.5);

  &.selected {
    border-color: red;
  }

  @media #{$BREAKPOINT-DESK}{
    width: 160px;
  }

  &__title {
    color: $white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
  }

    &__img {
      width: 50%;
    }
    
  &__number {
    color: $white;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }

  &__btn {
    cursor: pointer;
    border-radius: 12px;
    background-color:$red;
    color: $white;
    font-weight: bold;
    width: 90px;
    border: 1px solid transparent;
    padding: 1px;
    cursor: pointer;
    margin: 9px;
    
    &__team {
      background-color:#215cd1 !important;
      cursor: pointer;
      border-radius: 12px;
      color: $white !important;
      font-weight: bold;
      width: 90px;
      border: 1px solid transparent;
      padding: 1px;
      cursor: pointer;
      margin: 9px;

      &:hover {
        background-color:$white;
        color:$red;
      }
    }

    &:hover {
      background-color:$white;
      color:$red;
    }
  }
  .selected {
    border-color: red;
  }
}