@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color:$BACKGROUND_COLOR ;
  font-family: 'Roboto', sans-serif;
}

.page-content {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.container {
  @include margin-page;
  padding-top: 80px;
  text-align: center;
  max-width:920px;

  @media #{$BREAKPOINT-MOBILE-LAND}{
    width: calc(100% - 10px);
  }
}