@import '../../components/Layout/styles/conf.scss';


.container {
  
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    text-align: center;
    position: fixed;
    z-index: 1;
    background-color: $BACKGROUND_COLOR;

  }

  &__pokeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:1em;
    padding: 10px;
  }
}

