
.container {

  &__header {
    @include flex-center;
    flex-direction: row;
    background-color: green;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 8px 6px -6px rgb(253, 210, 210);
    width: 100%;

    .order {
      padding:10px;
      width: 80px;
    }

    .title {
      padding:10px;
      width: 150px;
    }
  }

  &__picture {
    text-align: center;

    img {
      width: 70%;
      
      @media #{$BREAKPOINT-DESK}{
        width: 30%;
      }
    }
  }

  &__types {
    @include flex-center;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;

    div + div {
      margin-left: 20px;
    }

    div {
      @include flex-center;
      background-color: green;
      width: 120px;
      border-radius: 20px;
      box-shadow: 0 8px 6px -6px black;
      padding:10px;
    }    
  }

  &__stats {
    @include flex-center;
    place-content: space-evenly;
    box-shadow: 0 8px 6px -6px black;
    margin: 20px 5px 20px 5px;
    flex-direction: row;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    background-color: green;

    span {

    }
  }
}