
.container {

  &__header {
    @include flex-center;
    flex-direction: row;
    margin: 0px 5px 20px 5px;
    background-color: green;
    height: 3em;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 8px 6px -6px black;

    .title {
      padding: 4em;
    }
  }

  &__picture {
    text-align: center;
    padding-top: 2em;

    img {
      width: 70%;
    }
  }

  &__types {
    @include flex-center;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;

    div + div {
      margin-left: 20px;
    }

    div {
      @include flex-center;
      background-color: green;
      width: 120px;
      border-radius: 20px;
      height: 2em;
      box-shadow: 0 8px 6px -6px black;
      padding:10px;
    }    
  }

  &__stats {
    @include flex-center;
    place-content: space-evenly;
    box-shadow: 0 8px 6px -6px black;
    margin: 20px 5px 20px 5px;
    flex-direction: row;
    height: 3em;
    border-radius: 10px;
    font-size: 20px;
    background-color: green;

    span {

    }
  }
}